<% if @movie.errors.any? %>
	<h2>We weren't able to save your movie! Here's why: </h2>
	<ul>
	<% @movie.errors.full_messages.each do |err| %>
		<li><%= err %></li>
	<% end %>
	</ul>
<% end %>

<%= form_for @movie do |m| %>
	<fieldset>
		<div class='fields'>
		<%= m.label :title %>
		<%= m.text_field :title %>
		</div>
		<div class='fields'>
			<%= m.label :description %>
      		<%= m.text_field :description %>
		</div>
		<div class='fields'>
			<%= m.label :release_year %>
      		<%= m.text_field :year_released %>
		</div>
	</fieldset>
	<%= m.submit %>
<% end %>